<img src="http://193.175.187.164/static/OEP_logo_2_no_text.svg" alt="OpenEnergy Platform" height="100" width="100"  align="left"/>
<img src="http://reiner-lemoine-institut.de//wp-content/uploads/2015/09/rlilogo.png" alt="RLI" height="100" width="100" align="right"/>

# OpenEnergy Platform
<br>
## Usage of OpenEnergyPlatform API-Dialect (oedialect)
Repository: https://github.com/openego/oedialect

In [1]:
__copyright__ = "Reiner Lemoine Institut"
__license__   = "GNU Affero General Public License Version 3 (AGPL-3.0)"
__url__       = "https://github.com/openego/data_processing/blob/master/LICENSE"
__author__    = "henhuy, Ludee"

In [2]:
import pandas as pd
import getpass
import sqlalchemy as sa
from sqlalchemy.orm import sessionmaker
import oedialect

In [3]:
# Whitespaces are not a problem for setting up the url!
user = input('Enter OEP-username:')
token = getpass.getpass('Token:')

Enter OEP-username:Ludwig Schneider
Token:········

In [4]:
# Create Engine:
OEP_URL = 'oep.iks.cs.ovgu.de'
OED_STRING = f'postgresql+oedialect://{user}:{token}@{OEP_URL}'

engine = sa.create_engine(OED_STRING)
metadata = sa.MetaData(bind=engine)

## Setup Table

In [ ]:
tname = 'example_dialect_table'
sname = 'sandbox'

table = sa.Table(
    tname,
    metadata,
    sa.Column('name', sa.VARCHAR(50)),
    sa.Column('age', sa.INTEGER),
    schema=sname
)

## Create Table

In [ ]:
conn = engine.connect()
print('Connection established')
if not engine.dialect.has_table(conn, tname, sname):
    table.create()
    print('Created table')

## Insert into Table

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()
try:
    insert_statement = table.insert().values(
        [
            dict(name='Peter', age=25),
            dict(name='Inge', age=42),
            dict(name='Horst', age=36)
        ]
    )
    session.execute(insert_statement)
    session.commit()
    print('Insert successful!')
except Exception as e:
    session.rollback()
    raise
finally:
    session.close()

## Select from Table

In [5]:
# ORM classes -> ego.io
from sqlalchemy import BigInteger, Boolean, Column, Date, Float, Integer, Numeric, String, Table, Text, text
from geoalchemy2.types import Geometry
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
metadata = Base.metadata

class BkgVg2502Lan(Base):
    __tablename__ = 'bkg_vg250_2_lan'
    __table_args__ = {'schema': 'boundaries'}

    reference_date = Column(Date, primary_key=True, nullable=False)
    id = Column(Integer, primary_key=True, nullable=False, server_default=text("nextval('boundaries.bkg_vg250_2_lan_id_seq'::regclass)"))
    ade = Column(Float(53))
    gf = Column(Float(53))
    bsg = Column(Float(53))
    rs = Column(String(12))
    ags = Column(String(12))
    sdv_rs = Column(String(12))
    gen = Column(String(50))
    bez = Column(String(50))
    ibz = Column(Float(53))
    bem = Column(String(75))
    nbd = Column(String(4))
    sn_l = Column(String(2))
    sn_r = Column(String(1))
    sn_k = Column(String(2))
    sn_v1 = Column(String(2))
    sn_v2 = Column(String(2))
    sn_g = Column(String(3))
    fk_s3 = Column(String(2))
    nuts = Column(String(5))
    rs_0 = Column(String(12))
    ags_0 = Column(String(12))
    wsk = Column(Date)
    debkg_id = Column(String(16))
geom = Column(Geometry('MULTIPOLYGON', 31467), index=True)

In [6]:
Session = sessionmaker(bind=engine)
session = Session()
print(session.query(BkgVg2502Lan).all())
session.close()

[<__main__.BkgVg2502Lan object at 0x0000026D9A979080>, <__main__.BkgVg2502Lan object at 0x0000026D9A9795F8>, <__main__.BkgVg2502Lan object at 0x0000026D9A979550>, <__main__.BkgVg2502Lan object at 0x0000026D9A979FD0>, <__main__.BkgVg2502Lan object at 0x0000026D9A99E6D8>, <__main__.BkgVg2502Lan object at 0x0000026D9A99ED68>, <__main__.BkgVg2502Lan object at 0x0000026D9A99E2E8>, <__main__.BkgVg2502Lan object at 0x0000026D9A99EE48>, <__main__.BkgVg2502Lan object at 0x0000026D9A99EB70>, <__main__.BkgVg2502Lan object at 0x0000026D9A99E0B8>, <__main__.BkgVg2502Lan object at 0x0000026D9A99E080>, <__main__.BkgVg2502Lan object at 0x0000026D9A99EF28>, <__main__.BkgVg2502Lan object at 0x0000026D9A99E550>, <__main__.BkgVg2502Lan object at 0x0000026D9A99E2B0>, <__main__.BkgVg2502Lan object at 0x0000026D9A99E9E8>, <__main__.BkgVg2502Lan object at 0x0000026D9A99EDA0>, <__main__.BkgVg2502Lan object at 0x0000026D9A99EFD0>, <__main__.BkgVg2502Lan object at 0x0000026D9A99E5C0>, <__main__.BkgVg2502Lan object at 0x0000026D9A99ECC0>, <__main__.BkgVg2502Lan object at 0x0000026D9A9B4C50>, <__main__.BkgVg2502Lan object at 0x0000026D9A9B4A90>, <__main__.BkgVg2502Lan object at 0x0000026D9A9B4D68>, <__main__.BkgVg2502Lan object at 0x0000026D9A9B4DD8>, <__main__.BkgVg2502Lan object at 0x0000026D9A9B4D30>, <__main__.BkgVg2502Lan object at 0x0000026D9A9B4EB8>, <__main__.BkgVg2502Lan object at 0x0000026D9A9B4B70>, <__main__.BkgVg2502Lan object at 0x0000026D9A9B4B00>, <__main__.BkgVg2502Lan object at 0x0000026D9A9B4C18>]

In [11]:
df = pd.DataFrame(session.query(BkgVg2502Lan.id,BkgVg2502Lan.gen, BkgVg2502Lan.reference_date)
                  .filter(BkgVg2502Lan.reference_date == '2016-01-01').all())
df

    id                           gen reference_date
0    1                      Saarland     2016-01-01
1    2             Baden-Württemberg     2016-01-01
2    3           Nordrhein-Westfalen     2016-01-01
3    5                        Bremen     2016-01-01
4    6                        Hessen     2016-01-01
5    7                   Brandenburg     2016-01-01
6    8                 Niedersachsen     2016-01-01
7    9        Mecklenburg-Vorpommern     2016-01-01
8   10               Rheinland-Pfalz     2016-01-01
9   11                        Berlin     2016-01-01
10  12  Baden-Württemberg (Bodensee)     2016-01-01
11  13                        Bremen     2016-01-01
12  21                       Sachsen     2016-01-01
13  22                Sachsen-Anhalt     2016-01-01
14  23                       Hamburg     2016-01-01
15  14             Bayern (Bodensee)     2016-01-01
16  15             Baden-Württemberg     2016-01-01
17  16             Baden-Württemberg     2016-01-01
18  31                     Thüringen     2016-01-01
19  33                        Bayern     2016-01-01
20  34                 Niedersachsen     2016-01-01
21  17                       Hamburg     2016-01-01
22  19            Schleswig-Holstein     2016-01-01
23  25                 Niedersachsen     2016-01-01
24  26            Schleswig-Holstein     2016-01-01
25  27            Schleswig-Holstein     2016-01-01
26  29        Mecklenburg-Vorpommern     2016-01-01
27  30        Mecklenburg-Vorpommern     2016-01-01

In [ ]:
print("----> order_by(id):")
query = session.query(BkgVg2502Lan).order_by(BkgVg2502Lan.ags_0)
for _row in query.all():
    print(ags_0)